

<!-- FOOTER -->
<div class="elementor-element elementor-element-ade34c1 e-con-full e-flex e-con e-parent e-lazyloaded custom-footer" data-id="ade34c1" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-element elementor-element-f865edc e-flex e-con-boxed e-con e-child" data-id="f865edc" data-element_type="container" data-e-type="container">
    <div class="e-con-inner">
      <div class="elementor-element elementor-element-182c451 elementor-widget elementor-widget-ube-heading" data-id="182c451" data-element_type="widget" data-e-type="widget" data-widget_type="ube-heading.default">
        <div class="elementor-widget-container">
          <div class="ube-heading">
            <div class="ube-heading-description">
              <p>@2026 sreynich-nang. All Right Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
