

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" style="color: #65a6f0" href="index.html"
      >Nang Sreynich</a
    >

    <button
      class="navbar-toggler ms-auto me-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="d-inline d-lg-none">Menu</span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="nav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/random-notes.html">Random Notes</a>
        </li>
      </ul>
    </div>

    <a href="pages/contact.html" class="btn btn-contact">Contact</a>
  </div>
</nav>

<!-- Script to automatically adjust navbar links if loaded on a subpage -->
<script>
  (function () {
    const isSubpage = window.location.pathname.includes("/pages/");
    if (isSubpage) {
      document
        .querySelectorAll(".navbar-brand, .nav-link, .btn-contact")
        .forEach((link) => {
          let href = link.getAttribute("href");
          if (href) {
            if (href.startsWith("#")) {
              // Convert hash anchors to point to index.html sections
              link.setAttribute("href", "../index.html" + href);
            } else if (href.startsWith("pages/")) {
              // Remove 'pages/' prefix since we are already inside the pages/ directory
              link.setAttribute("href", href.replace("pages/", ""));
            } else if (href === "index.html") {
              // Point brand logo to the root index.html
              link.setAttribute("href", "../index.html");
            }
          }
        });
    }
  })();
</script>
